.banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgb(236 98 6 / 98%), rgb(5 3 0 / 83%)), url(../../assets/img/banner2.jpeg);
    background-attachment: fixed;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
    
        .banner-text {
            font-size: $fs-0 + 2;
            font-weight: $fw-heading-c2;
            color: $color-white-0;

            a {
                text-decoration: none;
                color: $color-orange-0;
                padding-right: $padding-0 - 7;
            }

            i {
                padding-right: $padding-0 - 7;
                font-size: $fs-0;
            }
        }
    }
}